* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12b886;
  font-family: 'Courier New', Courier, monospace;
}

/* home page */




/* button box */
.button-box {
  display: flex;
  justify-content: right;
}

.show-modal {
  font-size: 2.5vmin;
  padding: 1vmin 2vmin;
  margin: 1.5vmin 2.5vmin 0 0;
  border: none;
  border-radius: 0.5vmin;
  cursor: pointer;
  color: #12b886;
  background-color: #212529;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: auto;
  background-color: #96f2d7;
  padding: 4vmin 4vmin;
  border-radius: 1vmin;
  box-shadow: 0 0 2vmin #166d53;
  z-index: 10;
  color: #000000;
}

.hidden {
  display: none;
}

.modal-head{
  display: flex;
  justify-content: space-between;
}

.modal-head h1 {
  font-size: 6vmin;
}

.modal-head .close-modal {
  font-size: 7vmin;
  line-height: 5vmin;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal ol {
  padding: 2vmin 2vmin 2vmin 3.5vmin;
}

.modal ol li{
  font-size: 3.5vmin;
  padding: 0.5vmin 0;
}

#win-modal{
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vmin;
  z-index: 100;
  color: #212529;
}

.content {
  width: 80vmin;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ipNumber{
  margin: 0 auto;
}

.box {
  background-color: #63e6be;
  border-radius: 25%;
  width: 15vmin;
  height: 15vmin;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #087f5b;
}

.inputBox {
  height: 10vmin;
  width: 10vmin;
  font-size: 8vmin;
  opacity: 1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  text-align: center;
  background-color: #63e6be;
}

input[type=number] {
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  opacity: 1;
}

td:hover {
  opacity: 0.4;
}

.btn {
  display: block;
  border: none;
  border-radius: 1vmin;
  padding: 1vmin 2vmin;
  margin: 4vmin auto;
  font-size: 2.5vmin;
  color: #12b886;
  background-color: #212529;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-td:hover{
  opacity: 1;
}

.btn:hover {
  background-color: #31363a;
}


/* Style for Mobile */

@media screen and (max-width:450px){
  .show-modal {
    font-size: 4vmin;
    padding: 1vmin 3vmin;
    margin: 3vmin 5vmin 0 0;
    border-radius: 0.7vmin;
  }

  .modal {
    width: 75vmin;
    padding: 5vmin 5vmin;
    border-radius: 2vmin;
    box-shadow: 0 0 3vmin #166d53;
  }

  .modal-head h1 {
    font-size: 6vmin;
  }
  
  .modal-head .close-modal {
    font-size: 16vmin;
    line-height: 5vmin;
  }
  
  .modal ol {
    padding: 4vmin 2vmin 2vmin 6vmin;
  }
  
  .modal ol li{
    font-size: 5vmin;
    padding: 1vmin 0;
  }
  
  #win-modal{
    font-size: 8vmin;
  }
  
  .box {
    width: 28vmin;
    height: 28vmin;
  }

  .inputBox {
    height: 20vmin;
    width: 20vmin;
    font-size: 18vmin;
  }
  
  .btn {
    padding: 2vmin 3vmin;
    /* margin: 8vmin auto; */
    font-size: 4vmin;
  }
}