* {
  margin: 0;
  padding: 0;
}

.main {
  /* position: absolute; */
  margin: auto;
  width: 60%;
  padding: 10px;
}

html,
body {
  background-color: #12b886;
  color: #111;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.hidden {
  display: none;
}

.pDecide {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 100;
  color: #212529;
}

.name {
  display: inline;
  /* width: ; */
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #96f2d7;
  border-radius: 7px;
  font-size: 24px;
  margin: 10px 0px;
}

.btn {
  display: block;
  position: relative;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  font-size: 24px;
  color: #12b886;
  background-color: #212529;
  cursor: pointer;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
  display: block;
  padding:15px 25px;
  font-size: 30px;
}

.btn:hover {
  background-color: #343a40;
}

input[type="text"] {
  opacity: 1;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  opacity: 1;
}
